:root {
  --primary: #00b797;
  --secondary-light: #dddddd;
  --secondary: #999999;
  --color-background-canvas: #f4f2ee;
  --color-background: #ffffff;
  --color-text: rgb(0 0 0/0.9);
  --color-text-gray: rgb(0 0 0/0.6);

  --corner-radius-small: 0.4rem;
  --corner-radius-medium: 0.8rem;
  --corner-radius-large: 1.6rem;
  --corner-radius-xlarge: 2.4rem;
  --corner-radius-full: 50%;

  --border-width-small: 0.0625rem;

  --color-border-faint: rgb(140 140 140/0.2);
  --elevation-flat: none;
  --elevation-lined: 0px 0px 0px 1px var(--color-border-faint);
  /*--elevation-raised: var(--elevation-lined),0px 4px 4px var(--color-shadow);*/
  /*--voyager-elevation-text-theater: 0 0 2px var(--black-a60);*/
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /*background-image: url("banner-bg.jpg");*/
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/

  font-size: 16px;
  background: var(--color-background-canvas);
}

body {
  min-height: 100vh;
  font-family: Arial, serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-text);
}

a,
a:visited,
a:hover {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
