:root {
    --primary: #00b797;
    --secondary-light: #dddddd;
    --secondary: #999999;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-image: url("banner-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

body {
    font-family: Arial, serif;
}