:root {
    --font-size: 16px;
    --primary: #00b797;
    --secondary-light: #dddddd;
    --secondary: #999999;
    --color-background: #F3F2F0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    /*background-image: url("banner-bg.jpg");*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    background-color: var(--color-background);
    font-size: var(--font-size);
}

body {
    font-family: Arial, serif;
}